body {
  font-family: Lora, 'Times New Roman', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #404040;
  background-color: #dddddd;
  padding-top: 70px;
}
a {
  color: #cb202f;
}
a:hover {
  color: #9f1925;
  text-decoration: none;
}
