@import "adbd_common";

body {
  background-color: @adbd-full-body-color;
  //padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.vb-navbar{
  background-color: @adbd-nav-color-main;
  border-bottom-color: @adbd-nav-color-main;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: @adbd-color1;
  background-color: transparent;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: @adbd-color1;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: @adbd-color1;
}
.navbar-toggle{
  background-color: @adbd-color1;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: darken(@adbd-color1, 5%);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: @adbd-color1;
}
.navbar-right{
  margin-right: 0px;
}
//
//.btn-default:active:hover,
//.btn-default.active:hover,
//.open > .dropdown-toggle.btn-default:hover,
//.btn-default:active:focus,
//.btn-default.active:focus,
//.open > .dropdown-toggle.btn-default:focus,
//.btn-default:active.focus,
//.btn-default.active.focus,
//.open > .dropdown-toggle.btn-default.focus {
//  color: #333;
//  background-color: #d4d4d4;
//  border-color: #8c8c8c;
//}

.vb-body{
  background-color: @adbd-body-color;
}

.search-bar{
  margin-bottom: 15px;
}

.search-bar img{
  width: 100%;
  height: 300px;
}


.list-group-item:first-child{
  border-top-right-radius:@common-border-radius;
  border-top-left-radius:@common-border-radius ;
}

.list-group-item:last-child{
  border-bottom-left-radius: @common-border-radius;
  border-bottom-right-radius: @common-border-radius;
}

a.list-group-item:hover,a.list-group-item:focus{
  z-index: 2;
  color: #fff;
  background-color: lighten(@adbd-color1,20%);
  //border-color: @adbd-color1;

}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: @adbd-color1;
  border-color: @adbd-color1;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: @common-border-radius;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding: 0;
  border-radius:  @common-border-radius;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.vb-footer{
  background-color: @adbd-footer-color;
}