@import "variables";


body{
  font-family:@adbd-font;
  font-size:@adbd-font-size;
  color:@adbd-font-common-color;
  background-color: @adbd-full-body-color;
  padding-top: 70px;
}

a{
  color:@adbd-color1;
}
a:hover{
  color: darken(@adbd-color1,10%);
  text-decoration: none;
}
